<?xml version="1.0" encoding="UTF-8"?>
<Context useHttpOnly="false">

    <Resource name="jdbc/portalDS"
              auth="Container"
              type="javax.sql.DataSource"
              maxActive="10"
              maxIdle="2"
              username="${db.username}"
              password="${db.password}"
              maxWait="5000"
              driverClassName="${db.jdbc.driver}"
              validationQuery="select 1"
              defaultTransactionIsolation="READ_COMMITTED"
              url="${portal.foundation.jdbc.url}"/>

    <Resource name="jdbc/auditDS"
              auth="Container"
              type="javax.sql.DataSource"
              maxActive="4"
              maxIdle="2"
              username="${db.username}"
              password="${db.password}"
              maxWait="5000"
              driverClassName="${db.jdbc.driver}"
              validationQuery="select 1"
              defaultTransactionIsolation="READ_COMMITTED"
              url="${audit.jdbc.url}"/>

    <Environment name="backbase/config"
            value="${backbase.config.path}/backbase.properties"
            type="java.lang.String"
            override="false"/>

    <Environment name="portalmanager/ice-config"
            value="${backbase.config.path}/ice-config.properties"
            type="java.lang.String"
            override="false"/>

    <Environment name="mashup/ptc-config"
            value="${backbase.config.path}/ptc-config.properties"
            type="java.lang.String"
            override="false"/>              

    <Environment name="backbase/services-config"
                 value="file:${backbase.config.path}/services.properties"
                 type="java.lang.String"
                 override="false"/>
</Context>