@if($render-components){
  /*
  @name Form control
  @description simple input field styling (overrides for the twitter bootstrap form styling)
  @state form-control - styles the input field
  @state form-control--dotted - styles the placeholder for token fields
  @markup
      <div class="row">
          <div class="col-md-6">
              <input type="text" class="form-control form-control--dotted" placeholder="••••••" />
          </div>
          <div class="col-md-6">
              <input type="text" class="form-control" placeholder="normal placeholder" />
          </div>
      </div>
  */
  .form-control{
    box-shadow:none;
    border:2px solid $green-xs;
    border-radius: 15px;
    padding:17px 20px;
    font-size:1em;
    line-height: 1em;
    display:block;
    &:focus{
      border-color:$green-s;
      outline:$green-s;
    }



    &--dotted{
      &::placeholder{
        color:$yellow;
        font-size:2em;
        position:relative;
        top:5px;
        letter-spacing: 0.3em;
        text-align:center;
      }
    }
  }
}