<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Navigation Bar</title>
        <link rel="stylesheet" type='text/css' href="dist/styles/general/base.css"/>
        <link rel="stylesheet" type='text/css' href="dist/styles/general/main.css"/>
        <link rel="stylesheet" type='text/css' href="dist/styles/navigation/navigation.css"/>
    </head>
    <body>
        <navigation-module></navigation-module>
        <script src="dist/common.bundle.js"></script>
        <script src="dist/index.js"></script>
    </body>
</html>
