<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>login</title>
    <script type="text/javascript" src="scripts/accountslogin.js"></script>
    <link href="dist/theme/styles/base.css" rel="stylesheet" type="text/css"/>
    <script src="dist/common.bundle.js"></script>
    <script src="dist/index.js"></script>
</head>

<body g:onload="accountslogin['accountslogin'].init(__WIDGET__)">
<div class="accounts-login">
    <div></div>
    <div class="cards">
        <anonymous-login></anonymous-login>
    </div>
</div>
</body>
</html>