<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>login</title>
    <script src="dist/common.bundle.js"></script>
    <script src="dist/index.js"></script>
</head>

<body>
<div id="accounts-login">
    <div class="accounts">
        <div class="cards">
            <anonymous-login></anonymous-login>
        </div>
    </div>
</div>
</body>
</html>