<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Module Accounts: Component Library</title>
</head>
<body>
    <h2>Module Accounts: Component Library</h2>

    <h3>Custom LP components:</h3>
    <ul>
        <li>
            (<a href="scripts/components/accounts-select/README.md">docs</a>)
            <a href="scripts/components/accounts-select/index.dev.html">lp-accounts-select</a>
        </li>
        <li><a href="scripts/components/payee-account-select/index.dev.html">lp-payee-account-select</a></li>

	</ul>
</body>
</html>
