/* Build with bb-lp-cli @ v1.3.0 */
.lp-widget-accounts .no-accordion {
    min-height: 76px
}

.lp-widget-accounts .no-accordion.all-finances {
    min-height: 114px
}

.lp-widget-accounts .lp-widget-accounts__progress {
    padding: 22px 0 0 0
}

.lp-widget-accounts .lp-widget-accounts__progress-all-finances {
    padding: 42px 0 0 0
}

.lp-widget-accounts .panel-launcher {
    position: relative
}

.lp-widget-accounts .panel-group {
    margin-bottom: 0
}

.lp-widget-accounts .panel-heading {
    border-radius: 0
}

.lp-widget-accounts .grouped-account p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 55%;
    margin: 0
}

.lp-widget-accounts span.group-totals, .lp-widget-accounts .grouped-account span.account-balance {
    margin-right: 10px
}

.lp-widget-accounts .grouped-account span.account-icon {
    margin-right: 2%;
    margin-top: 2px
}

.lp-widget-accounts .accordion .panel-group .panel + .panel {
    margin: 0
}

.lp-widget-accounts .accordion .panel-group .panel .panel-heading .panel-title {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit
}

.lp-widget-accounts .accordion .panel-group .panel .panel-heading .panel-title .accordion-toggle {
    width: 100%;
    position: relative;
    display: block
}

.lp-widget-accounts .accordion .panel-group .panel .panel-heading .panel-title a {
    text-decoration: none
}

.lp-widget-accounts .accordion .panel-group .panel .panel-collapse > .panel-body {
    border: 0 transparent;
    border-top: 0 transparent;
    padding: 0
}

.lp-accounts-tree .container {
    width: 100%;
    padding: 15px 15px 15px 10px
}

.lp-accounts-tree .account-tree, .lp-accounts-tree .account-tree ul {
    margin: 0 0 0 1em;
    position: relative
}

.lp-accounts-tree .account-tree ul {
    margin-left: 1.5em
}

.lp-accounts-tree .account-tree:before, .lp-accounts-tree .account-tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left-width: 2px;
    border-left-style: solid
}

.lp-accounts-tree .account-tree li {
    margin: 0;
    padding: 0 0 0 1em;
    line-height: 2.5em;
    position: relative
}

.lp-accounts-tree .account-tree li:before {
    content: "";
    display: block;
    width: 1em;
    height: 0;
    border-top-width: 2px;
    border-top-style: solid;
    margin-top: -2px;
    position: absolute;
    top: 1.25em;
    left: 0
}

.lp-accounts-tree .account-tree li:last-child:before {
    height: auto;
    top: 1.25em;
    bottom: 0
}

.lp-accounts-tree .account-tree .caret {
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid transparent
}

.lp-accounts-tree .account-tree .caret.caret-down {
    border-top-color: inherit
}

.lp-accounts-tree .account-tree .caret.caret-right {
    border-left-color: inherit
}

.lp-accounts-tree .account-tree .title-expandable {
    cursor: pointer;
    font-size: 16px
}

.lp-accounts-tree .account-tree .leaf {
    position: relative;
    padding-right: 15px
}

.lp-accounts-tree .account-tree .leaf .balance {
    float: right;
    text-align: right;
    width: 60px;
    margin-right: 10px;
    margin-top: 1px;
    text-transform: capitalize
}

.lp-accounts-tree .account-tree .leaf .icon {
    margin-top: -1px
}

.lp-accounts-tree .account-tree .account-id {
    margin-top: -10px;
    display: block
}

.lp-accounts-tree .account-tree .leaf-children + .account-id {
    display: none
}

.lp-accounts-tree .account-tree .total {
    display: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding: .5em 1em;
    margin: .8em 0
}

.lp-accounts-tree .account-tree .account-branch {
    cursor: pointer;
    padding: 0 .5em
}

.lp-accounts-tree .account-tree .account-branch.main {
    padding: 0 0 0 5px
}

.lp-accounts-tree .account-tree .account-branch .lp-icon-angle-right {
    position: absolute;
    top: 5px;
    right: -7px;
    font-size: 20px
}

.lp-accounts-tree .account-tree .account-branch + .list-open + .total {
    display: block
}

.lp-accounts-tree .lp-responsive {
    display: none
}

.lp-accounts-tree .lp-small-size .lp-small-show {
    display: block
}

.lp-accounts-tree .lp-normal-size .lp-normal-show {
    display: block
}

.lp-accounts-tree .lp-large-size .lp-large-show {
    display: block
}

.lp-accounts-tiles .container {
    width: 100%;
    padding: 20px
}

.lp-accounts-tiles .accounts {
    -webkit-column-count: 2;
    -webkit-column-width: 15em;
    -webkit-column-gap: 20px;
    -moz-column-count: 2;
    -moz-column-width: 15em;
    -moz-column-gap: 20px;
    column-count: 2;
    column-width: 15em;
    column-gap: 20px;
    overflow: hidden
}

.lp-accounts-tiles .accounts .account-block {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin-bottom: 10px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid
}

.lp-accounts-tiles .accounts .account-block .group-header {
    margin-bottom: 10px
}

.lp-accounts-tiles .accounts .account-block .group-header .group-total {
    float: right
}

.lp-accounts-tiles .accounts .account-block .content {
    position: relative;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 15px;
    padding: 12px 15px 0
}

.lp-accounts-tiles .accounts .account-block .content .account-id {
    display: block
}

.lp-accounts-tiles .accounts .account-block .content .balance {
    text-align: right;
    margin: 10px -15px 0;
    padding: 15px 15px 10px;
    color: #FFF
}

.lp-accounts-tiles .accounts .account-block .content .balance .h2 {
    margin: 0
}

.lp-accounts-tiles .accounts .account-block .content .balance .amount {
    text-transform: capitalize
}

.lp-accounts-tiles .accounts .account-block .content.card {
    border-color: transparent
}

.lp-accounts-tiles .accounts .account-block .content.card .info {
    position: relative;
    z-index: 2
}

.lp-accounts-tiles .accounts .account-block .content.card .balance {
    background: transparent;
    color: inherit
}

.lp-accounts-tiles .accounts .account-block .content.card .background {
    position: absolute;
    top: -2px;
    bottom: -2px;
    right: -2px;
    left: -2px;
    z-index: 1;
    opacity: .3
}

.lp-accounts-tiles .accounts .account-block .content.card .background.other {
    background: no-repeat left bottom / 35% url(../media/cc-other.png);
    opacity: 1
}

.lp-accounts-tiles .accounts .account-block .content.card .background.visa {
    background-image: url(../media/cc-visa.png)
}

.lp-accounts-tiles .accounts .account-block .content.card .background.mastercard {
    background-image: url(../media/cc-mastercard.png)
}

.lp-accounts-tiles .accounts .account-block .content.card .background.amex {
    background-image: url(../media/cc-amex.png)
}

.lp-accounts-tiles .lp-small-size .accounts, .lp-accounts-tiles .lp-normal-size .accounts {
    width: 100%;
    padding-right: 0
}

.lp-accounts-tiles .lp-small-size .accounts .account-block .group-total, .lp-accounts-tiles .lp-normal-size .accounts .account-block .group-total {
    float: none;
    font-weight: normal
}

/*# sourceMappingURL=base.css.map */