<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:g="http://www.backbase.com/2008/gadget">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Hello World</title>

    <!-- <link rel="stylesheet" type='text/css' href="dist/styles/base.css"/> -->
    </head>

<body>
    <div ng-controller="MainController as mainCtrl" ng-cloak="">
      <div> {{ mainCtrl.name }}</div>
    </div>

    <script src="dist/index.js"></script>
</body>
</html>
