<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Hello World</title>
    <link rel="stylesheet" type='text/css' href="dist/styles/general/base.css"/>
    <link rel="stylesheet" type='text/css' href="dist/styles/general/main.css"/>
    <link rel="stylesheet" type='text/css' href="dist/styles/hello-world/hello-world.css"/>
</head>
<body>
<account-module></account-module>
<script src="dist/common.bundle.js"></script>
<script src="dist/index.js"></script>

</body>
</html>
