$white: #ffffff;
$black: #000;

$grey-xs: #efefef;
$grey-xl: #666666;

$yellow:#ffde00;

$green-xs: #c4d700;
$green-s: #83be00;
$green-m: #00ae4e;
$green-l: #2a935b;
$green-xl: #278a55;
$green-xxl:#006340;

$pink: #d81c51;
